<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groove Hub</title>

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Pathway+Extreme:ital@0;1&display=swap" rel="stylesheet">
  
    <!-- Bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    
    <!-- Our CSS -->
    <link rel="stylesheet" href="./assets/style.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
  <div id="background-container">
  <header>
    <nav class="navbar navbar-expand-lg" id="nav-container">
      <div class="container-fluid" id="nav">
        <a class="navbar-brand" href="#">
          <img class="micIcon" src="./assets/brand/voice-record-lace.png" alt="Logo" width="50" height="50" margin="0">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon">
            <img src="./assets/brand/voice-record-lace.png" alt="Navbar Toggler Icon">
          </span>
        </button>
        
        <p id="navbar-text">Your&nbsp; <i><b>Mood</b></i>. Your&nbsp;<i><b>Music</b></i>. Your&nbsp;<i><b>Groove</b></i>.</p>
        <div id = "login-container">
          <!-- Button trigger modal -->
        <button type="button" id="login-btn" data-toggle="modal" data-target="#exampleModalCenter"><a href="login">Login</a></button>
      </div>
  
      <div id="register-container">
        <button type="button" id="register-btn" class="btn"><a href="register">Sign-up</a></button>
      </div>
      </div>  
    </nav>
  </header>
  
    

  <main id="main-index">
    <h1 id="title">GrooveHub</h1>
    <div id="subtitle-container">
      <h2 id="subtitle"><i> Discover a vast collection of curated playlists tailored to you. From heart-pounding beats that make you move to soulful melodies that touch your core, GrooveHub has something to satisfy everyone.</i></h2>
    </div>
    <!-- launches playlist.html -->
    <div id="launch-playlist">
      <button type="button" id="playlistBtn" class="btn"><a href="./playlist.html">Discover Your Soundtrack</a></button>
    </div>
    </div>

    

  </main>
<footer>
  <div id="footer-container">
    <div id="footer-text">
      <p>Credits: </p>
    </div>
  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script src="./assets/index.js"></script>
</div>
</body>
</html>