<h1>Login</h1>



<form action="/login" method="POST">
  <div>
    <label for="name">Email</label>
    <input type="text" name="email" id="email" placeholder="email" 
    required/>
  </div>
  <div>
    <label for="name">Password</label>
    <input type="text" name="password" id="password" placeholder="password" 
    required/>
  </div>

  <button type="submit">Login</button>
</form>
<a href="/register">Register</a>