<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groove Hub</title>

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Pathway+Extreme:ital@0;1&display=swap" rel="stylesheet">
  
    <!-- Bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    
    <!-- Our CSS -->
    <link rel="stylesheet" href="./assets/style.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <div id="background-container">
    <header>
        <nav class="navbar navbar-expand-lg" id="nav-container">
        <div class="container-fluid" id="nav">
            <a class="navbar-brand" href="index.html">
            <img class="micIcon" src="./assets/brand/voice-record-lace.png" alt="Logo" width="50" height="50" margin="0">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
                <img src="./assets/brand/voice-record-lace.png" alt="Navbar Toggler Icon">
            </span>
            </button>
            <h1 id="navbar-title">GrooveHub</h1>
            <p id="navbar-text">Your <i><b>Mood </b></i>. Your <i><b> Music</b></i>. Your <i><b> Groove</b></i>.</p>
        </div>  
        </nav>
    </header>

        

    <main>

        <div id="login-form">
        <h1>Login</h1>
        
        <form action="/login" method="POST">
        <div id="email-input">
            <label for="name">Email:</label>
            <input type="text" name="email" id="email" placeholder="email" 
            required/>
        </div>
        <div>
            <label for="name">Password:</label>
            <input type="text" name="password" id="password" placeholder="password" 
            required/>
        </div>
        
        <button id="submit-btn" type="submit">Submit</button>
        </form>
        <button id="signup-btn" type="submit"><a href="register" id="signup-anchor">Sign-up</a></button>
        </div>
        
    </main>

    <footer>
    <div id="footer-container">
        <div id="footer-text">
        <p>Credits: </p>
        </div>
    </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="./assets/index.js"></script>
    </div>
</body>
</html>


