<h1>Sign-up</h1>

<form action="/register" method="POST">
  <div>
    <label for="name">Name</label>
    <input type="text" name="name" id="name" placeholder="name" 
    required/>
  </div>
  <div>
    <label for="name">Email</label>
    <input type="text" name="email" id="email" placeholder="email" 
    required/>
  </div>
  <div>
    <label for="name">Password</label>
    <input type="text" name="password" id="password" placeholder="password" 
    required/>
  </div>

  <button type="submit">Sign-up</button>
</form>
<a href="/login">Login</a>
