* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root {
    /* Color pallete ^^*/
    --deepsea: #0C2B26;
    --slate: #2F5A5B;
    --current: #117075;
    --lace: #f9f7f2;
    --citrus: #F28016;
    --cherry: #C54444;
    --night: #04100E;
}

body {
    background-color: var(--lace);
}


#login-container {
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 15rem;
    margin-bottom: 15rem;
    
}

.login-btn {
    color: white;
    margin-top: 10px;
    border-radius: 7px;
    background-color: var(--current);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    height: 2.5rem;
}

a {
    text-decoration: none;
    color: white;
}
#launch-playlist {
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 2rem;
    
}

.parameter-container {
    margin: auto;
    margin-top: 5rem;
    max-width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.genre-container {
    margin: 15px;
}

.popularity-container {
    margin: 15px;
}

.number-container {
    margin: 15px;
}




.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    justify-content: center;

}

#generate-playlist-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}
/* playlist page */ 

.card {
    margin: auto;
    margin-top: 3rem;
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#playlist-title {
    margin: auto;
    margin-top: 3rem;
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* .micIcon {
    width: 40px;
    height: auto;
    margin-top: 1px;
} */

#navbar-brand {
    color: var(--cherry);
}

#hero-text {
    color: var(--cherry);
}
#hero-text p{
    color: var(--);
}

.login-modal {
    background-color: var(--cherry);
}

#nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: fit-content;
    padding: 0;
}

#nav {
    background-color: var(--cherry);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 30vh;
    width: 100vw;
}

#navbar-title {
    color: var(--lace);
    font-size: 2.5rem;
    padding-right: 45%;
}

#navbar-text {
    color: var(--lace);
    margin: 0;
    display: flex;
    justify-content: space-between;
}

footer {
    background-color: var(--cherry);
    display: flex;
    flex-direction: row;
    height: 8vh;
    width: 100vw;

}
